
//------   colors  ------
//--header 
$primary: #5c4d4d; 
//--background
$secondary: #a96851;
//--cards
$tertio: #f2f1e7;
//--borders--shadows
$quatro: #915b4a;

//logo
.logo-size{
    width: 100px;
}

.logo-brand{
    width: 210px;
}

.ul-nav-width{
    width: 450px;
}

.useraccount{
    width: 65px;
    height: 65px;
    background-color: $tertio;
}