
/* --- colors --- */

/* 
main colors->
      1st : #5c4d4d
      2nd : #915b4a
      3rd : #a96851
      4th : #f2f1e7
*/
.color-1 {
  background-color: #5c4d4d;
}

.head-nav1 {
  background-color: #a96851;
}

.bg-color2 {
  background-color: #915b4a;
}

/*--- fonts ---*/

@font-face {
  font-family: "Wonderbar-pALD";
  src: url("../fonts/Wonderbar-pALD.ttf") format("truetype");
}



/*--- begin navbar */

.logo-brand {
  width: 150px;
}

.li-navbar-size {
  width: 16.67%;
}

.list-width {
  width: 95%;
}

.position-list {
  left: 2.5%;
}

/*--- end navbar ---*/

h1 {
  font-family: "Wonderbar-pALD";
  font-size: larger;
}

.h1-position {
  top: 1.3em;
  left: 4.5em;
  z-index:1;
}

.logo {
  width: 70px;
  left: 7.75em;
  z-index:0;
}
.useraccount {
  width: 50px;
  height: 50px;
  background-color: #f2f1e7;
}



@media (min-width: 576px) {


  .position-sm-static {
    position: static !important;
  }
  .position-sm-relative {
    position: relative !important;
  }
  .position-sm-absolute {
    position: absolute !important;
  }
  .position-sm-fixed {
    position: fixed !important;
  }
  .position-sm-sticky {
    position: sticky !important;
  }
}

@media (min-width: 768px) {
  
  /*used*/
  .position-md-static {
    position: static !important;
  }

  .w-md {
    width: auto;
  }
  
  .list-width-md {
    width: auto;
  }

  .li-navbar-size{
    width: 32.5%;
  }
  /**/


  .position-md-relative {
    position: relative !important;
  }
  .position-md-absolute {
    position: absolute !important;
  }
  .position-md-fixed {
    position: fixed !important;
  }
  .position-md-sticky {
    position: sticky !important;
  }
  
}

@media (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
  .position-lg-relative {
    position: relative !important;
  }
  .position-lg-absolute {
    position: absolute !important;
  }
  .position-lg-fixed {
    position: fixed !important;
  }
  .position-lg-sticky {
    position: sticky !important;
  }
}

@media (min-width: 1200px) {
  .position-xl-static {
    position: static !important;
  }
  .position-xl-relative {
    position: relative !important;
  }
  .position-xl-absolute {
    position: absolute !important;
  }
  .position-xl-fixed {
    position: fixed !important;
  }
  .position-xl-sticky {
    position: sticky !important;
  }
}